<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courier Statistics Dashboard</title>
</head>
<body>
    <div class="welcome-section">
        <h1>Welcome to Courier Statistics Dashboard</h1>
        <p>
            Add new <a href="{% url 'restaurant' %}">Restaurants</a>
        </p>
        <p>
            Add new <a href="{% url 'deliveroo' %}">Deliveroo Orders</a>
        </p>
        <p>
            Add new <a href="{% url 'stuart' %}">Stuart Orders</a>
        </p>

    </div>
</body>
</html>