{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Restaurant Form</title>
    </head>
    <body>
        <div>
            <h1>Form to Add a New Restaurant:</h1>
            {% csrf_token %}
            {% crispy form form.helper %}
        </div>
        <div>
            <p>
                Back to <a href="{% url 'index' %}">Dashboard</a>
            </p>
        </div>
    </body>
</html>